<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <strong>Exemplo API - ASP Net Core 3.0</strong>
    <br />
    <p>
        Trata-se de uma API que usa REGEX para recuperar informações de uma pagina,<br />
        no caso deste exemplo: <a href=https://nerdologiaheroespowers.fandom.com/pt-br/wiki /><i>nerdologiaheroespowers.fandom.com/pt-br/wiki</i></a><br />
        é possível retornar atráves de uma API diversos tipos de arquivos, de mais comuns como xml e json,</br>
        ou arquivos como html, por exemplo este que você esta visualizando.
    </p>
    <br />
    <p>
        <strong>End-Point:</strong> /Api/Hq/{NomeDoPersonagemMarvel}
    </p>
    <br />
    
    <strong>Exemplos:</strong>
    <p>
        Retornando Json:<br /><br /> &nbsp;<a href="/Api/HQ/wolverine" target="_blank"> <i>/Api/Hq/Wolverine</i></a><br />
        <br /> &nbsp;<a href="/Api/HQ/Homem de Ferro" target="_blank"> <i>/Api/Hq/Homem de Ferro</i></a><br /><br />
        Retornando PDF: <br /><br /> <a href="/Api/HQ/pdf/wolverine" target="_blank"><i>/Api/Hq/pdf/Wolverine</i></a>
    </p>
    <br /><strong>Autor:</strong> Renato Estecio
    <br /><strong>Contato:</strong>  <i> renato.estecio@gmail.com</i>
</body>
</html>